<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	{% if friend %}
		<div class="friend">
			<p>First Name: {{friend.first_name}}</p>
			<p>Last Name: {{friend.last_name}}</p>
			<p>Occupation: {{friend.occupation}}</p>
			<p>Known Since: {{friend.known_since}}</p>
			<p><a href="/">Back</a></p>
			<p><a href="/friend/{{friend.id}}/edit">Edit</a></p>
			<p><a href="/friend/{{friend.id}}/delete">Delete</a></p>
		</div>
	{% endif %}
</body>
</html>